*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url(/Medical-Care/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "Inter2";
    src: url(/Medical-Care/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root{
    --White: #ffffff;
    --DimBlue: #1d4ed8;
    --Blue: #152eca;
    --Black: #1f2937;
    --Dark: #374151;
    --Darklight: #9ca3af;
    --Yellow: #facc15;
    --Bluelight: #60a5fa;
    --Green: #22c55e;
    
}

.container{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right:auto;

}
div.navsec{
    width: 100%;
    height: 100%;
    background-color: var(--White);

}
div.navsec nav{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-template-rows: repeat(1, auto);
    margin-top: 20px;
    

}
div.navsec nav ul.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: nowrap row;
    
}
div.navsec nav ul.links li{
   margin-left: 40px;
   list-style: none;
   
}
div.navsec nav ul.links li a{
    text-decoration: none;
    font-size: 16px;
     font-family: "Inter2";
     color: var(--Dark);
     font-weight: 500;
   transition: all 0.6s ease-in-out;
    
}
div.navsec nav ul.links li a:hover{
    color: var(--DimBlue);
   
    
}
div.navsec nav div.logo{
    /* width: 200px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-flow: nowrap row; */
}
div.navsec nav div.logo h2{
    font-size: 24px;
      font-family: "Inter2";
      color: var(--DimBlue);
      cursor: pointer;
    
}

/* hero style */
div.hero{
    width: 100%;
    height: 100%;
    padding: 10%;
    margin-top:20px ;
         /* background-color: var(--DimBlue); */
         background-image: url(/Medical-Care/Images/Screenshot\ 2025-09-13\ 190622.png);
        
   
}
div.hero div.hero_sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap column;


        
}
div.hero div.hero_sec div.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    width: 450px;
    height: 100px;

   
}
div.hero div.hero_sec div.heading h2{
    
    font-size: 40px;
       font-family: "Inter2";

}
div.hero div.hero_sec p.hero{
    font-size: 19px;
       font-family: "Inter2";
       color: var(--White);
       text-align: center;
}
div.hero div.hero_sec div.btn_hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
div.hero div.hero_sec div.btn_hero button{
    width: 260px;
    height: 45px;
    background-color: var(--White);
    border: none;
    outline: none;
    border-radius: 23px;
    color: var(--DimBlue);
     font-size: 18px;
     font-family: "Inter2";
     font-weight: 600;
     cursor: pointer;
}
div.hero div.hero_sec div.btn_hero button:hover{
    margin-left: 5px;
}
/* about style */
div.about{
    width: 100%;
    height: 100%;

}
div.about div.qaybo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap row;
}
div.about div.qaybo div.qayb{
    width: calc(95% /2);
}
div.about div.qaybo div.qayb.koobaad{
    
}












/* media queries */

/* xsml screen */
@media (min-width: 480px) {
    .container{
        max-width: 400px;
    }
}

/* sml screen */
@media (min-width: 480px) and (max-width: 767px){
    .container{
        max-width: 700px;
    }
}

/* md screen */
@media (min-width: 767px) and (max-width: 992px){
    .container{
        max-width: 900px;
    }
}

/* LG screen */
@media (min-width: 992px) and (max-width: 1200px){
    .container{
        max-width: 1000px;
    }
}

/* XlG screen */
@media (min-width: 1200px) and (max-width: 1400px){
    .container{
        max-width: 1150px;
    }
}

/* XXlG screen */
@media (min-width: 1400px){
    .container{
        max-width: 1200px;
    }
}

